body {
    background-image: url("../images/bootcamp_pic.PNG");
    background-size: 500px 300px;
}
.totals{
    float:left;
    margin-right:20px;
    font-size: 20px;
}
.lettersguessed{
    background-color:white;
    color:black;
    clear:both;
    font-size:20px;
}
.game-background {
    border:30px solid darkblue;
    margin-top:143px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 155px;
    background-color:black;
    color:white;
    padding:50px;
}
#game-word {
    font-size: 20px;
}